<h2>Art related activities or assignments</h2>

<ul class="list-group">
<li class="list-group-item">2003 - <p>Kennari við Fossvogsskóla, Reykjavík</p></li>
<li class="list-group-item">1999		<p>Dómnefndarstarf í forvali vegna samkeppni um listskreytingu í nýbyggingu Barnaspítala Hringsins</p></li>
<li class="list-group-item">1998 - 2004<p>Ein af stofnendum Meistara Jakobs gallerís, Reykjavík</p></li>
<li class="list-group-item">1997 - 1999<p>Varamaður í stjórn Listskreytingasjóðs</p></li>
<li class="list-group-item">1996 - 1998<p>Fulltrúi Textílfélagsins í fulltrúaráði SÍM</p></li>
<li class="list-group-item">1995 - 1996<p>Kennari við Kennarháskóla Íslands</p></li>
<li class="list-group-item">1994 - 1998<p>Í stjórn Textílfélagsins</p></li>
<li class="list-group-item">1989 - 1993<p>Í sýningarnefnd Textílfélagsins</p></li>
<li class="list-group-item">1978 - 1986<p>Ein af stofnendum Gallerís Langbrókar, Reykjavík</p></li>
<li class="list-group-item">1977 - 1979<p>Formaður Textílfélagsins</p></li>
<li class="list-group-item">1976 - 1978<p>Ein af stofnendum Gallerís Sólon Íslandus, Aðalstræti 8, Reykjavík</p></li>
<li class="list-group-item">1975 - 1987<p>Kennari og deildarstjóri við Myndlista-og handíðaskóla Íslands</p></li>
</ul>