<h2>Myndlistarnám:</h2>

<ul class="list-group">
<li class="list-group-item">1968 - 72  <p>Myndlista-og handíðaskóli Íslands.</p></li>
<li class="list-group-item">1972 - 74  <p>Konstfackskólinn HKS í Stokkhólmi.</p></li>
<li class="list-group-item">1975       <P>Norrænt þrykknámskeið fyrir starfandi myndlistarmenn hjá Richard Künzl Stokkhólmi.</P></li>
</ul>

<h2>Workshops:</h2>
<ul class="list-group">
<li class="list-group-item">1989<p>Sveaborg Ateljéhuset Palmstierna HelsinkiFinnland</p></li>
<li class="list-group-item">2000<p>Kjarvalsstofa c/o Cité Internationale des ArtsParísFrakkland</p></li>
<li class="list-group-item">2010<p>Villa Bergshyddan - Lista- og fræðimannaíbúð</p></li>
</ul>