<h2>Private Exhibition´s</h2>
<ul class="list-group">
<li class="list-group-item">2004	<p>Skálholtsskóli</p></li>
<li class="list-group-item">2003	<p>Hallgrímskirkja</p></li>
<li class="list-group-item">1998	<p>Bústaðakirkja</p></li>
<li class="list-group-item">1994	<p>SPRON</p></li>
<li class="list-group-item">1992	<p>Norræna húsið</p></li>
</ul>

<h2>Group exhibition's</h2>

<ul class="list-group">

<li class="list-group-item">2014	&nbsp;	<p>Afmælissýning Textílfélagsins í SÍM salnum</p></li>
<li class="list-group-item">2012	&nbsp;	<p>Textílfélagið á Korpúlfsstöðum</p></li>
<li class="list-group-item">2011	&nbsp;	<p>TEXTÍLFÉLAGIÐ Á LISTASUMRI Á AKUREYRI, í Ketilhúsi, Mjólkurbúð og Hofi.</p></li>
<li class="list-group-item">2010	&nbsp;	<p>“8th International Baltic Minitextil Triennial”, Gdynia, Póllandi.</p></li>
<li class="list-group-item">2010	&nbsp;	<p>“Með viljann að vopni” - Endurlit 1970 -1980, Kjarvalstöðum.</p></li>
<li class="list-group-item">2009	&nbsp;	<p>“ÞVERSKURÐUR“ - 35 ára afmæli Textílfélagsins, Listasafni Kópavogs.</p></li>
<li class="list-group-item">2007	&nbsp;	<p>“MINITEXTIL“ Textilmuseet, Borås.</p></li>
<li class="list-group-item">2007	&nbsp;	<p>“7th International Baltic Minitextil Triennial”, Gdynia, Póllandi.</p></li>
<li class="list-group-item">2006	&nbsp;	<p>“Mynd mín af Hallgrími, Hallgrímskirkja, Reykjavík.</p></li>
<li class="list-group-item">2006	&nbsp;	<p>“De Nordatlantiske Øer”, Ráðhúsi Kaupmannahafnar.	</p></li>
<li class="list-group-item">2002 – 08&nbsp;	 <p>„II-V International Artistic Linen Cloth Biennale”, Krosno, Póllandi.</p></li>
<li class="list-group-item">2002	&nbsp;	<p>Galleri Tablå, Bergen, Noregi.</p></li>
<li class="list-group-item">2002	&nbsp;	<p>Galleri Voss, Voss, Noregi.</p></li>
<li class="list-group-item">2001	&nbsp;	<p>„Asti – Reykjavík”, samsýning í Listasafni ASÍ, Reykjavík.</p></li>
<li class="list-group-item">2001	&nbsp;	<p>10th International Triennale of Tapestry, Lodz, Póllandi.</p> </li>
<li class="list-group-item">2001	&nbsp;	<p>„Armonte di contraste“, Asti, Ítalíu. </p></li>
<li class="list-group-item">2001	&nbsp;	<p>„Elementi d´Islanda“, Villa Badoglio, Asti, Ítalíu.</p></li>
<li class="list-group-item">2000	&nbsp;	<p>„Islandsk Samtidskunst“, Aurskog Höldan Kunstforening, Noregi.</p></li> 
<li class="list-group-item">2000	&nbsp;	<p>„Exposition collective des artistes de la Cité des Arts“, París. </p></li>
<li class="list-group-item">2000	&nbsp;	<p>„Hör“, Menningarmiðstöð Hafnarborg, Hafnarfirði.</p></li>
<li class="list-group-item">1999	&nbsp;	<p>25 ára afmælissýning Textílfélagsins í Listasafni Kópavogs.</p></li> 
<li class="list-group-item">1999	&nbsp;	<p>„Hör“, Langabúð, Djúpavogi. </p></li>
<li class="list-group-item">1999	&nbsp;	<p>„Near Distance“, Lochem, Hollandi.</p></li>
<li class="list-group-item">1997	&nbsp;	<p>Triennale International de Tournai, Belgíu.</p></li>
<li class="list-group-item">1995	&nbsp;	<p>20 ára afmælissýning Textílfélagsins í Hafnarborg, Hafnarfirði.</p></li> 
<li class="list-group-item">1995	&nbsp;	<p>8th International Triennale of Tapestry, Lodz, Póllandi. </p></li>
<li class="list-group-item">1996	&nbsp;	<p>11th International Miniature Textile Biennial Exhibition, Szombathelyi,
	Ungverjalandi.</p> </li>
<li class="list-group-item">1994	&nbsp;	<p>Samsýning á „Nordisk Forum“ Åbo Finnlandi.</p></li>
<li class="list-group-item">1992 	&nbsp;	<p>„Til lista lagt“, sýning á listskreytingum 10 listamanna sem styrktar hafa verið af Listskreytingasjóði, Ásmundarsal. </p> </li>
<li class="list-group-item">1992	&nbsp;	<p>„Kiek in de Kök“ samsýning 11 íslenskra listamanna í Tallinn,Eistlandi.  </p></li>
<li class="list-group-item">1992	&nbsp;	<p>„Fyrsti vetrardagur“ samsýning 5 listamanna, Listhús Laugardal. </p> </li>
<li class="list-group-item">1992 - 93 &nbsp;	<p>Form Island II - listiðnaður og hönnun, farandsýning um Norðurlönd.</p></li>
<li class="list-group-item">1990	&nbsp;	<p>„When Two Worlds Meet“, samsýning íslenskra og amerískra listamanna
	Warm gallery, Minneapolis.</p></li>
<li class="list-group-item">1989	&nbsp;	<p>Samsýning 4 listamanna í Slúnkaríki, Ísafirði.</p></li>
<li class="list-group-item">1988	&nbsp;	<p>Samsýning Textílfélagsins á Listahátíð, Norræna húsinu.</p></li>
<li class="list-group-item">1985	&nbsp;	<p>10 ára afmælissýning Textílfélagsins á Listahátíð,Kjarvalstöðum.</p></li>
<li class="list-group-item">1984	&nbsp;	<p>„Hexagon“ Norræn farandsýning 6 listamanna í:</p></li>  
	<li>&nbsp;	<p>Nollhaga Slott, Allingsås.</p></li>  
	<li>&nbsp;	<p>Galleri F.15, Moss.</p></li>  
	<li>&nbsp;	<p>Vestlandske Kunstindustrimuseum, Bergen.</p></li>  
	<li>&nbsp;	<p>Norræna húsinu, Reykjavík.</p></li>
<li class="list-group-item">1984	<p>Gallerí Langbrók á Listahátíð, Bogasal. </p></li>  
<li class="list-group-item">1984	<p>Gallerí Langbrók í Laxdalshúsi á Akureyri.</p></li>  
<li class="list-group-item">1982 - 83 <p>Nordisk Textiltriennal III, farandsýning um Norðurlönd.</p></li>    
<li class="list-group-item">1982 - 83 <p>„Scandinavian Modern Design, 1880-1980“ á Scandinavia Today, farandsýning í Bandaríkjunum.</p></li>  
<li class="list-group-item">1982	<p>Gallerí Langbrók hjá Textilgruppen í Stokkhólmi. </p></li>  
<li class="list-group-item">1982	<p>„Smælki“ Gallerí Langbrók á Listahátíð, Gallerí Langbrók.</p></li>  
<li class="list-group-item">1981	<p>Samsýning Textílfélagsins, Listasafni ASÍ.</p></li>  
<li class="list-group-item">1980	<p>„Smælki“ Gallerí Langbrók á Listahátíð, Gallerí Langbrók.</p></li>  
<li class="list-group-item">1979 - 80 <p>Nordisk Textiltriennal  II, farandsýning um Norðurlönd.</p></li>  
<li class="list-group-item">1979	<p>Sumarsýning Gallerís Langbrókar, Kjarvalsstöðum.</p></li>  
<li class="list-group-item">1978	<p>Samsýning Textílfélagsins, Norræna húsinu.</p></li>  
<li class="list-group-item">1977	<p>Gallerí Sólon Íslandus, samsýning aðstandenda Gallerís Sólon Íslandus.</p></li>  
<li class="list-group-item">1976 - 77 <p>Nordisk Textiltriennal  I, farandsýning um Norðurlönd.</p></li>  
<li class="list-group-item">1976	<p>Íslensk nytjalist, Norræna húsinu.</p></li>  
<li class="list-group-item">1975	<p>Listsýning íslenskra kvenna, Norræna húsinu.</p></li>    
</ul>
