<h2>Grants and awards</h2>

<ul class="list-group">
<li class="list-group-item">2008 <p>5th. International Artistic Linen Cloth Biennale Heiðursviðurkenning Viðurkenningar</p></li>
<li class="list-group-item">2008<p>The Akapi Foundation Heiðursverðlaun Viðurkenningar</p></li>
<li class="list-group-item">2004<p>Skálholt Staðarlistamaður Viðurkenningar</p></li>
<li class="list-group-item">2001<p>Launasjóður myndlistarmanna Starfsstyrkur Styrkir</p></li>
<li class="list-group-item">1995<p>Launasjóður myndlistarmanna Starfsstyrkur Styrkir</p></li>
<li class="list-group-item">1983<p>Launasjóður myndlistarmanna Starfsstyrkur Styrkir</p></li>
<li class="list-group-item">1981<p>Menningarsjóður Íslands og Finnlands / Kulturfonden Island-Finland Sýningar- og ferðastyrkur Styrkir</p></li>
<li class="list-group-item">1972<p>Myndlista- og handíðaskóli Íslands Viðurkenning í samkeppni á vegum stofnunarinnar Viðurkenningar</p></li>
</ul>