<h2>Memberships</h2>
<ul class="list-group">
<li class="list-group-item"><p>Society of Textile Artists</p></li>
<li class="list-group-item"><p>The Association of Icelandic Visual Artists</p></li>
<li class="list-group-item"><p>Icelandic Teachers Union</p></li>
</ul>